body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1707px;
  height:861px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:29px;
  width:1707px;
  height:861px;
}
#u6825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:52px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:197px;
  width:301px;
  height:52px;
}
#u6826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:209px;
  width:75px;
  height:34px;
}
#u6827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u6828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:934px;
  height:34px;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:330px;
  width:934px;
  height:34px;
}
#u6828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:338px;
  width:134px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u6829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:338px;
  width:134px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u6830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:338px;
  width:134px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u6831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:346px;
  width:134px;
  height:17px;
  font-size:14px;
  text-align:center;
}
#u6832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:338px;
  width:134px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u6833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u6834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:center;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:338px;
  width:134px;
  height:33px;
  font-size:14px;
  text-align:center;
}
#u6834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
