body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:1330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6456 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:90px;
  width:1020px;
  height:1330px;
}
#u6456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6457 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:116px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6458 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:196px;
  width:130px;
  height:40px;
}
#u6458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u6459 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:156px;
  width:0px;
  height:0px;
}
#u6459_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6459_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u6459_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6460 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:306px;
  width:221px;
  height:75px;
}
#u6460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6461 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:311px;
  width:99px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6462 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:332px;
  width:187px;
  height:20px;
}
#u6462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u6463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6463 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:354px;
  width:207px;
  height:17px;
}
#u6463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u6464 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:236px;
  width:0px;
  height:0px;
}
#u6464_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u6464_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:18px;
}
#u6464_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u6465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6465 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:305px;
  width:221px;
  height:75px;
}
#u6465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6466 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:311px;
  width:110px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6467 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:331px;
  width:187px;
  height:20px;
}
#u6467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u6468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6468 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:352px;
  width:187px;
  height:20px;
}
#u6468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u6469 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:216px;
  width:0px;
  height:0px;
}
#u6469_seg0 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:222px;
  height:8px;
}
#u6469_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:8px;
  height:93px;
}
#u6469_seg2 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:77px;
  width:18px;
  height:18px;
}
#u6469_text {
  border-width:0px;
  position:absolute;
  left:-204px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u6470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6470 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:440px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u6471 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:381px;
  width:0px;
  height:0px;
}
#u6471_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u6471_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:18px;
}
#u6471_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6472 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:380px;
  width:0px;
  height:0px;
}
#u6472_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u6472_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:76px;
  width:222px;
  height:8px;
}
#u6472_seg2 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:71px;
  width:18px;
  height:18px;
}
#u6472_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6473 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:540px;
  width:226px;
  height:90px;
}
#u6473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6474 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:480px;
  width:0px;
  height:0px;
}
#u6474_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u6474_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u6474_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6475 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:543px;
  width:176px;
  height:89px;
}
#u6475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u6476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6476 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:670px;
  width:130px;
  height:40px;
}
#u6476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6477 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:665px;
  width:140px;
  height:50px;
}
#u6477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u6478 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:690px;
  width:0px;
  height:0px;
}
#u6478_seg0 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-4px;
  width:142px;
  height:8px;
}
#u6478_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6478_text {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:632px;
  width:0px;
  height:0px;
}
#u6479_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u6479_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u6479_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:750px;
  width:130px;
  height:40px;
}
#u6480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:710px;
  width:0px;
  height:0px;
}
#u6481_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6481_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u6481_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u6482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:866px;
  width:222px;
  height:100px;
}
#u6482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6483 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:868px;
  width:194px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u6484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6484 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:887px;
  width:194px;
  height:33px;
}
#u6484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u6485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6485 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:927px;
  width:200px;
  height:39px;
}
#u6485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6486 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:790px;
  width:0px;
  height:0px;
}
#u6486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u6486_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u6486_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u6487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6487 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:865px;
  width:250px;
  height:103px;
}
#u6487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6488 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:901px;
  width:242px;
  height:24px;
}
#u6488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u6489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6489 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:922px;
  width:242px;
  height:24px;
}
#u6489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u6490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:943px;
  width:192px;
  height:19px;
}
#u6490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u6491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:876px;
  width:254px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u6492 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:770px;
  width:0px;
  height:0px;
}
#u6492_seg0 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:250px;
  height:8px;
}
#u6492_seg1 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:8px;
  height:99px;
}
#u6492_seg2 {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:83px;
  width:18px;
  height:18px;
}
#u6492_text {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:999px;
  width:130px;
  height:60px;
}
#u6493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:966px;
  width:0px;
  height:0px;
}
#u6494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u6494_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u6494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:968px;
  width:0px;
  height:0px;
}
#u6495_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u6495_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:57px;
  width:250px;
  height:8px;
}
#u6495_seg2 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:52px;
  width:18px;
  height:18px;
}
#u6495_text {
  border-width:0px;
  position:absolute;
  left:42px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6496 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1105px;
  width:130px;
  height:40px;
}
#u6496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:1059px;
  width:0px;
  height:0px;
}
#u6497_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u6497_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u6497_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u6498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6498 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1009px;
  width:130px;
  height:40px;
}
#u6498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:1029px;
  width:0px;
  height:0px;
}
#u6499_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u6499_seg1 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6499_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u6500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1180px;
  width:130px;
  height:40px;
}
#u6500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:1145px;
  width:0px;
  height:0px;
}
#u6501_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u6501_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u6501_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1260px;
  width:130px;
  height:40px;
}
#u6502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6503 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:1220px;
  width:0px;
  height:0px;
}
#u6503_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6503_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u6503_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1340px;
  width:130px;
  height:40px;
}
#u6504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:1300px;
  width:0px;
  height:0px;
}
#u6505_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u6505_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u6505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:80px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
