body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:296px;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1344px;
  width:1279px;
  height:296px;
}
#u7792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:1530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:110px;
  width:291px;
  height:1530px;
}
#u7793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:114px;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1230px;
  width:1279px;
  height:114px;
}
#u7794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:546px;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:684px;
  width:1279px;
  height:546px;
}
#u7795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:176px;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:509px;
  width:1279px;
  height:176px;
}
#u7796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:398px;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:112px;
  width:1279px;
  height:398px;
}
#u7797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:210px;
  width:140px;
  height:40px;
}
#u7798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:300px;
  width:140px;
  height:40px;
}
#u7799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:250px;
  width:0px;
  height:0px;
}
#u7800_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7800_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:36px;
  width:22px;
  height:22px;
}
#u7800_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:340px;
  width:0px;
  height:0px;
}
#u7801_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u7801_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:56px;
  width:22px;
  height:22px;
}
#u7801_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:410px;
  width:140px;
  height:40px;
}
#u7802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:533px;
  width:220px;
  height:60px;
}
#u7803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:540px;
  width:1px;
  height:17px;
}
#u7804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:543px;
  width:121px;
  height:17px;
}
#u7805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u7806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:570px;
  width:205px;
  height:17px;
}
#u7806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u7807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:633px;
  width:220px;
  height:40px;
}
#u7807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:593px;
  width:0px;
  height:0px;
}
#u7808_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7808_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u7808_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:750px;
  width:335px;
  height:100px;
}
#u7809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:785px;
  width:316px;
  height:50px;
}
#u7810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:673px;
  width:0px;
  height:0px;
}
#u7811_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u7811_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:76px;
}
#u7811_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:63px;
  width:22px;
  height:22px;
}
#u7811_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:760px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1273px;
  width:140px;
  height:50px;
}
#u7813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u7814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1278px;
  width:140px;
  height:40px;
}
#u7814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1012px;
  width:310px;
  height:108px;
}
#u7815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1022px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1046px;
  width:182px;
  height:17px;
  font-size:14px;
}
#u7817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u7818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1072px;
  width:155px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1097px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u7819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1298px;
  width:0px;
  height:0px;
}
#u7820_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u7820_seg1 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-11px;
  width:22px;
  height:22px;
}
#u7820_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1120px;
  width:0px;
  height:0px;
}
#u7821_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7821_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:131px;
  height:8px;
}
#u7821_seg2 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:36px;
  width:8px;
  height:117px;
}
#u7821_seg3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:139px;
  width:22px;
  height:22px;
}
#u7821_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1383px;
  width:292px;
  height:107px;
}
#u7822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1323px;
  width:0px;
  height:0px;
}
#u7823_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u7823_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:43px;
  width:9px;
  height:8px;
}
#u7823_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:43px;
  width:8px;
  height:17px;
}
#u7823_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:46px;
  width:22px;
  height:22px;
}
#u7823_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u7824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1560px;
  width:140px;
  height:40px;
}
#u7824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1490px;
  width:0px;
  height:0px;
}
#u7825_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u7825_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:86px;
  width:227px;
  height:8px;
}
#u7825_seg2 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:79px;
  width:22px;
  height:22px;
}
#u7825_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:1318px;
  width:0px;
  height:0px;
}
#u7826_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:246px;
}
#u7826_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:228px;
  width:22px;
  height:22px;
}
#u7826_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1521px;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:120px;
  width:1px;
  height:1520px;
}
#u7827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:576px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:938px;
  width:199px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u7830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1276px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1468px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:289px;
  width:140px;
  height:40px;
}
#u7832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:890px;
  width:172px;
  height:70px;
}
#u7833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:168px;
  word-wrap:break-word;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:850px;
  width:0px;
  height:0px;
}
#u7834_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7834_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u7834_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1012px;
  width:310px;
  height:108px;
}
#u7835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:925px;
  width:0px;
  height:0px;
}
#u7836_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:41px;
  height:8px;
}
#u7836_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:8px;
  height:91px;
}
#u7836_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:73px;
  width:22px;
  height:22px;
}
#u7836_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:925px;
  width:0px;
  height:0px;
}
#u7837_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u7837_seg1 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-4px;
  width:8px;
  height:91px;
}
#u7837_seg2 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:73px;
  width:22px;
  height:22px;
}
#u7837_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1120px;
  width:0px;
  height:0px;
}
#u7838_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7838_seg1 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:36px;
  width:215px;
  height:8px;
}
#u7838_seg2 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:36px;
  width:8px;
  height:117px;
}
#u7838_seg3 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:139px;
  width:22px;
  height:22px;
}
#u7838_text {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1019px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1039px;
  width:142px;
  height:20px;
  font-size:14px;
}
#u7840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u7841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1057px;
  width:155px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:1074px;
  width:230px;
  height:20px;
  font-size:14px;
}
#u7842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u7843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1094px;
  width:210px;
  height:22px;
  font-size:14px;
}
#u7843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1399px;
  width:244px;
  height:84px;
}
#u7844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:450px;
  width:0px;
  height:0px;
}
#u7845_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u7845_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:69px;
  width:22px;
  height:22px;
}
#u7845_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
