body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:296px;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1344px;
  width:1279px;
  height:296px;
}
#u7767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:1530px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:110px;
  width:291px;
  height:1530px;
}
#u7768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:114px;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1230px;
  width:1279px;
  height:114px;
}
#u7769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:546px;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:684px;
  width:1279px;
  height:546px;
}
#u7770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:176px;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:509px;
  width:1279px;
  height:176px;
}
#u7771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:398px;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:112px;
  width:1279px;
  height:398px;
}
#u7772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:210px;
  width:140px;
  height:40px;
}
#u7773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:300px;
  width:140px;
  height:40px;
}
#u7774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:250px;
  width:0px;
  height:0px;
}
#u7775_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u7775_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:36px;
  width:22px;
  height:22px;
}
#u7775_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:340px;
  width:0px;
  height:0px;
}
#u7776_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u7776_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:56px;
  width:22px;
  height:22px;
}
#u7776_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:410px;
  width:140px;
  height:40px;
}
#u7777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7778 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:533px;
  width:220px;
  height:60px;
}
#u7778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7779 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:540px;
  width:1px;
  height:17px;
}
#u7779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u7780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7780 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:543px;
  width:121px;
  height:17px;
}
#u7780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u7781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:570px;
  width:205px;
  height:17px;
}
#u7781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u7782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:633px;
  width:220px;
  height:40px;
}
#u7782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:593px;
  width:0px;
  height:0px;
}
#u7783_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7783_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u7783_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:750px;
  width:335px;
  height:100px;
}
#u7784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:785px;
  width:316px;
  height:50px;
}
#u7785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  white-space:nowrap;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:673px;
  width:0px;
  height:0px;
}
#u7786_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u7786_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:76px;
}
#u7786_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:63px;
  width:22px;
  height:22px;
}
#u7786_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:760px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:1273px;
  width:140px;
  height:50px;
}
#u7788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u7789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1278px;
  width:140px;
  height:40px;
}
#u7789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1012px;
  width:310px;
  height:108px;
}
#u7790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1022px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:1046px;
  width:182px;
  height:17px;
  font-size:14px;
}
#u7792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u7793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:1072px;
  width:155px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1097px;
  width:300px;
  height:16px;
  font-size:14px;
}
#u7794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1298px;
  width:0px;
  height:0px;
}
#u7795_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u7795_seg1 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-11px;
  width:22px;
  height:22px;
}
#u7795_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:1120px;
  width:0px;
  height:0px;
}
#u7796_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7796_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:36px;
  width:131px;
  height:8px;
}
#u7796_seg2 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:36px;
  width:8px;
  height:117px;
}
#u7796_seg3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:139px;
  width:22px;
  height:22px;
}
#u7796_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1383px;
  width:292px;
  height:107px;
}
#u7797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1323px;
  width:0px;
  height:0px;
}
#u7798_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u7798_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:43px;
  width:9px;
  height:8px;
}
#u7798_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:43px;
  width:8px;
  height:17px;
}
#u7798_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:46px;
  width:22px;
  height:22px;
}
#u7798_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  word-wrap:break-word;
}
#u7799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1560px;
  width:140px;
  height:40px;
}
#u7799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:1490px;
  width:0px;
  height:0px;
}
#u7800_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u7800_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:86px;
  width:227px;
  height:8px;
}
#u7800_seg2 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:79px;
  width:22px;
  height:22px;
}
#u7800_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:1318px;
  width:0px;
  height:0px;
}
#u7801_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:246px;
}
#u7801_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:228px;
  width:22px;
  height:22px;
}
#u7801_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:113px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1521px;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:120px;
  width:1px;
  height:1520px;
}
#u7802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:576px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:938px;
  width:199px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1276px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#515151;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:1468px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#515151;
}
#u7806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:289px;
  width:140px;
  height:40px;
}
#u7807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u7808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:70px;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:890px;
  width:172px;
  height:70px;
}
#u7808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:168px;
  word-wrap:break-word;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:850px;
  width:0px;
  height:0px;
}
#u7809_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7809_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u7809_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:1012px;
  width:310px;
  height:108px;
}
#u7810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:925px;
  width:0px;
  height:0px;
}
#u7811_seg0 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:41px;
  height:8px;
}
#u7811_seg1 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:-4px;
  width:8px;
  height:91px;
}
#u7811_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:73px;
  width:22px;
  height:22px;
}
#u7811_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:925px;
  width:0px;
  height:0px;
}
#u7812_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u7812_seg1 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-4px;
  width:8px;
  height:91px;
}
#u7812_seg2 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:73px;
  width:22px;
  height:22px;
}
#u7812_text {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1120px;
  width:0px;
  height:0px;
}
#u7813_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u7813_seg1 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:36px;
  width:215px;
  height:8px;
}
#u7813_seg2 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:36px;
  width:8px;
  height:117px;
}
#u7813_seg3 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:139px;
  width:22px;
  height:22px;
}
#u7813_text {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1019px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:1039px;
  width:142px;
  height:20px;
  font-size:14px;
}
#u7815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u7816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1057px;
  width:155px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:1074px;
  width:230px;
  height:20px;
  font-size:14px;
}
#u7817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u7818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:1094px;
  width:210px;
  height:22px;
  font-size:14px;
}
#u7818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1399px;
  width:244px;
  height:84px;
}
#u7819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  word-wrap:break-word;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:450px;
  width:0px;
  height:0px;
}
#u7820_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u7820_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:69px;
  width:22px;
  height:22px;
}
#u7820_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
