body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:205px;
  width:1544px;
  height:136px;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:196px;
  height:40px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:192px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:0px;
  width:159px;
  height:40px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:147px;
  height:40px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:0px;
  width:147px;
  height:40px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:0px;
  width:147px;
  height:40px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:0px;
  width:122px;
  height:40px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:0px;
  width:153px;
  height:40px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:0px;
  width:192px;
  height:40px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:0px;
  width:206px;
  height:40px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:48px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:75px;
  height:48px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:48px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:40px;
  width:196px;
  height:48px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:40px;
  width:159px;
  height:48px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:40px;
  width:147px;
  height:48px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:40px;
  width:147px;
  height:48px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:40px;
  width:147px;
  height:48px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:48px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:40px;
  width:122px;
  height:48px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:48px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:40px;
  width:153px;
  height:48px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:48px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:40px;
  width:192px;
  height:48px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:188px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:48px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:40px;
  width:206px;
  height:48px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:48px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:75px;
  height:48px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:48px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:88px;
  width:196px;
  height:48px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:192px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:88px;
  width:159px;
  height:48px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:88px;
  width:147px;
  height:48px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:88px;
  width:147px;
  height:48px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:48px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:88px;
  width:147px;
  height:48px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:48px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:88px;
  width:122px;
  height:48px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:48px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:88px;
  width:153px;
  height:48px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:48px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:88px;
  width:192px;
  height:48px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:48px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:88px;
  width:206px;
  height:48px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:75px;
  width:1544px;
  height:116px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:107px;
  width:18px;
  height:1px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:147px;
  width:68px;
  height:28px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:97px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:97px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:97px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:147px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:143px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:143px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:147px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:143px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:147px;
  width:108px;
  height:28px;
}
#u818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u818_input:disabled {
  color:grayText;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:1422px;
  top:263px;
  width:58px;
  height:20px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
