body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1655px;
  height:1225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:1355px;
  width:1655px;
  height:1225px;
}
#u5570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:70px;
  width:1080px;
  height:1080px;
}
#u5571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:100px;
  width:140px;
  height:40px;
}
#u5572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:180px;
  width:140px;
  height:60px;
}
#u5573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:140px;
  width:0px;
  height:0px;
}
#u5574_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5574_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5574_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:280px;
  width:140px;
  height:40px;
}
#u5575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:240px;
  width:0px;
  height:0px;
}
#u5576_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5576_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5576_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u5577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:360px;
  width:140px;
  height:60px;
}
#u5577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:320px;
  width:0px;
  height:0px;
}
#u5578_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5578_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5578_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:280px;
  width:140px;
  height:60px;
}
#u5579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:210px;
  width:0px;
  height:0px;
}
#u5580_seg0 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-4px;
  width:144px;
  height:8px;
}
#u5580_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-4px;
  width:8px;
  height:74px;
}
#u5580_seg2 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:58px;
  width:18px;
  height:18px;
}
#u5580_text {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:460px;
  width:140px;
  height:40px;
}
#u5581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:420px;
  width:0px;
  height:0px;
}
#u5582_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5582_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5582_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:340px;
  width:0px;
  height:0px;
}
#u5583_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u5583_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:136px;
  width:144px;
  height:8px;
}
#u5583_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:131px;
  width:18px;
  height:18px;
}
#u5583_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:132px;
  width:100px;
  word-wrap:break-word;
}
#u5584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:370px;
  width:140px;
  height:40px;
}
#u5584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:390px;
  width:0px;
  height:0px;
}
#u5585_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u5585_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5585_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:290px;
  width:140px;
  height:40px;
}
#u5586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:310px;
  width:0px;
  height:0px;
}
#u5587_seg0 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-4px;
  width:94px;
  height:8px;
}
#u5587_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5587_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:530px;
  width:140px;
  height:40px;
}
#u5588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:500px;
  width:0px;
  height:0px;
}
#u5589_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u5589_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u5589_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:600px;
  width:140px;
  height:40px;
}
#u5590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5591 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:570px;
  width:0px;
  height:0px;
}
#u5591_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u5591_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u5591_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5592 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:670px;
  width:140px;
  height:40px;
}
#u5592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u5593 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:640px;
  width:0px;
  height:0px;
}
#u5593_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u5593_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u5593_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5594 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:765px;
  width:140px;
  height:60px;
}
#u5594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5595 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:710px;
  width:0px;
  height:0px;
}
#u5595_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u5595_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:43px;
  width:18px;
  height:18px;
}
#u5595_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:775px;
  width:140px;
  height:40px;
}
#u5596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:795px;
  width:0px;
  height:0px;
}
#u5597_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5597_seg1 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5597_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:860px;
  width:140px;
  height:60px;
}
#u5598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:825px;
  width:0px;
  height:0px;
}
#u5599_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u5599_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:23px;
  width:18px;
  height:18px;
}
#u5599_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u5600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:870px;
  width:140px;
  height:40px;
}
#u5600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:890px;
  width:0px;
  height:0px;
}
#u5601_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5601_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5601_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:960px;
  width:140px;
  height:40px;
}
#u5602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:920px;
  width:0px;
  height:0px;
}
#u5603_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5603_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5603_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:85px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:937px;
  width:136px;
  height:85px;
  font-size:12px;
}
#u5604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:980px;
  width:0px;
  height:0px;
}
#u5605_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u5605_seg1 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5605_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:960px;
  width:140px;
  height:40px;
}
#u5606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:815px;
  width:0px;
  height:0px;
}
#u5607_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:149px;
}
#u5607_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:133px;
  width:18px;
  height:18px;
}
#u5607_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:1060px;
  width:140px;
  height:40px;
}
#u5608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1000px;
  width:0px;
  height:0px;
}
#u5609_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u5609_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u5609_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:1000px;
  width:0px;
  height:0px;
}
#u5610_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u5610_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:76px;
  width:154px;
  height:8px;
}
#u5610_seg2 {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:71px;
  width:18px;
  height:18px;
}
#u5610_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:50px;
  width:140px;
  height:40px;
}
#u5611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1390px;
  width:140px;
  height:40px;
}
#u5612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1480px;
  width:140px;
  height:40px;
}
#u5613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1430px;
  width:0px;
  height:0px;
}
#u5614_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5614_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5614_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u5615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1760px;
  width:140px;
  height:60px;
}
#u5615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1520px;
  width:0px;
  height:0px;
}
#u5616_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u5616_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u5616_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1660px;
  width:140px;
  height:40px;
}
#u5617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1550px;
  width:140px;
  height:60px;
}
#u5618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:70px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1545px;
  width:130px;
  height:70px;
}
#u5619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1580px;
  width:0px;
  height:0px;
}
#u5620_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u5620_seg1 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5620_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1610px;
  width:0px;
  height:0px;
}
#u5621_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5621_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5621_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u5622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1560px;
  width:140px;
  height:40px;
}
#u5622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1580px;
  width:0px;
  height:0px;
}
#u5623_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5623_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5623_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1640px;
  width:130px;
  height:80px;
}
#u5624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1680px;
  width:0px;
  height:0px;
}
#u5625_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u5625_seg1 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5625_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1880px;
  width:145px;
  height:50px;
}
#u5626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1700px;
  width:0px;
  height:0px;
}
#u5627_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u5627_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u5627_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1820px;
  width:0px;
  height:0px;
}
#u5628_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u5628_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u5628_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u5629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:1880px;
  width:145px;
  height:50px;
}
#u5629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:141px;
  word-wrap:break-word;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1790px;
  width:0px;
  height:0px;
}
#u5630_seg0 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-4px;
  width:151px;
  height:8px;
}
#u5630_seg1 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:-4px;
  width:8px;
  height:94px;
}
#u5630_seg2 {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:78px;
  width:18px;
  height:18px;
}
#u5630_text {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1980px;
  width:145px;
  height:50px;
}
#u5631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:141px;
  word-wrap:break-word;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1930px;
  width:0px;
  height:0px;
}
#u5632_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u5632_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:71px;
  width:148px;
  height:8px;
}
#u5632_seg2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:66px;
  width:18px;
  height:18px;
}
#u5632_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:1930px;
  width:0px;
  height:0px;
}
#u5633_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5633_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5633_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2080px;
  width:140px;
  height:60px;
}
#u5634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:2030px;
  width:0px;
  height:0px;
}
#u5635_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5635_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5635_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:2190px;
  width:145px;
  height:50px;
}
#u5636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:2140px;
  width:0px;
  height:0px;
}
#u5637_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5637_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5637_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2085px;
  width:145px;
  height:50px;
}
#u5638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2110px;
  width:0px;
  height:0px;
}
#u5639_seg0 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-4px;
  width:99px;
  height:8px;
}
#u5639_seg1 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5639_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2280px;
  width:140px;
  height:60px;
}
#u5640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:2240px;
  width:0px;
  height:0px;
}
#u5641_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5641_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5641_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:2390px;
  width:145px;
  height:50px;
}
#u5642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:2340px;
  width:0px;
  height:0px;
}
#u5643_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u5643_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u5643_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u5644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:2285px;
  width:145px;
  height:50px;
}
#u5644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:2310px;
  width:0px;
  height:0px;
}
#u5645_seg0 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-4px;
  width:99px;
  height:8px;
}
#u5645_seg1 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5645_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:2480px;
  width:145px;
  height:50px;
}
#u5646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:2335px;
  width:0px;
  height:0px;
}
#u5647_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:174px;
}
#u5647_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:166px;
  width:168px;
  height:8px;
}
#u5647_seg2 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:161px;
  width:18px;
  height:18px;
}
#u5647_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:159px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:2440px;
  width:0px;
  height:0px;
}
#u5648_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5648_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u5648_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1340px;
  width:140px;
  height:40px;
}
#u5649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
