body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:1278px;
  width:1460px;
  height:520px;
}
#u8811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:818px;
  width:1460px;
  height:461px;
}
#u8812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:743px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:76px;
  width:1460px;
  height:743px;
}
#u8813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:116px;
  width:130px;
  height:40px;
}
#u8814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:206px;
  width:130px;
  height:40px;
}
#u8815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:156px;
  width:0px;
  height:0px;
}
#u8816_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8816_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u8816_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:290px;
  width:130px;
  height:40px;
}
#u8817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:400px;
  width:130px;
  height:40px;
}
#u8818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:510px;
  width:130px;
  height:40px;
}
#u8819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:550px;
  width:0px;
  height:0px;
}
#u8820_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u8820_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:18px;
}
#u8820_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:611px;
  width:221px;
  height:75px;
}
#u8821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:616px;
  width:99px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:637px;
  width:187px;
  height:20px;
}
#u8823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u8824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:1307px;
  top:659px;
  width:207px;
  height:17px;
}
#u8824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:686px;
  width:0px;
  height:0px;
}
#u8825_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u8825_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:68px;
  width:18px;
  height:18px;
}
#u8825_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:740px;
  width:130px;
  height:60px;
}
#u8826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u8827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:750px;
  width:140px;
  height:40px;
}
#u8827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:1475px;
  top:770px;
  width:0px;
  height:0px;
}
#u8828_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u8828_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8828_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:858px;
  width:141px;
  height:50px;
}
#u8829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:137px;
  word-wrap:break-word;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:800px;
  width:0px;
  height:0px;
}
#u8830_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u8830_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:46px;
  width:18px;
  height:18px;
}
#u8830_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:986px;
  width:130px;
  height:40px;
}
#u8831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:908px;
  width:0px;
  height:0px;
}
#u8832_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u8832_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:66px;
  width:18px;
  height:18px;
}
#u8832_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:63px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:1070px;
  width:141px;
  height:63px;
}
#u8833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1026px;
  width:0px;
  height:0px;
}
#u8834_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u8834_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u8834_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:1607px;
  top:1126px;
  width:250px;
  height:103px;
}
#u8835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:986px;
  width:222px;
  height:100px;
}
#u8836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:1162px;
  width:242px;
  height:24px;
}
#u8837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:1183px;
  width:242px;
  height:24px;
}
#u8838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u8839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:1204px;
  width:192px;
  height:19px;
}
#u8839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u8840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:1616px;
  top:1137px;
  width:254px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u8841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:988px;
  width:194px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u8842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:1632px;
  top:1007px;
  width:194px;
  height:33px;
}
#u8842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:1630px;
  top:1047px;
  width:200px;
  height:39px;
}
#u8843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:1309px;
  top:1188px;
  width:202px;
  height:76px;
}
#u8844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:1446px;
  width:249px;
  height:50px;
}
#u8845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:1305px;
  width:130px;
  height:50px;
}
#u8846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:126px;
  word-wrap:break-word;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1264px;
  width:0px;
  height:0px;
}
#u8847_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u8847_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u8847_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1355px;
  width:0px;
  height:0px;
}
#u8848_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u8848_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:79px;
  width:18px;
  height:18px;
}
#u8848_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:1475px;
  top:1330px;
  width:0px;
  height:0px;
}
#u8849_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u8849_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-4px;
  width:8px;
  height:33px;
}
#u8849_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:17px;
  width:18px;
  height:18px;
}
#u8849_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1451px;
  width:256px;
  height:41px;
}
#u8850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:1359px;
  width:256px;
  height:50px;
}
#u8851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:1368px;
  width:277px;
  height:30px;
}
#u8852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u8853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:560px;
  width:130px;
  height:40px;
}
#u8853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:440px;
  width:0px;
  height:0px;
}
#u8854_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u8854_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:108px;
  width:18px;
  height:18px;
}
#u8854_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:730px;
  width:140px;
  height:50px;
}
#u8855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:600px;
  width:0px;
  height:0px;
}
#u8856_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u8856_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:118px;
  width:18px;
  height:18px;
}
#u8856_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u8857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1000px;
  width:130px;
  height:40px;
}
#u8857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:780px;
  width:0px;
  height:0px;
}
#u8858_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:224px;
}
#u8858_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:208px;
  width:18px;
  height:18px;
}
#u8858_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:102px;
  width:100px;
  word-wrap:break-word;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1280px;
  width:130px;
  height:40px;
}
#u8859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1040px;
  width:0px;
  height:0px;
}
#u8860_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:244px;
}
#u8860_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:228px;
  width:18px;
  height:18px;
}
#u8860_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1320px;
  width:0px;
  height:0px;
}
#u8861_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:434px;
}
#u8861_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:426px;
  width:239px;
  height:8px;
}
#u8861_seg2 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:421px;
  width:18px;
  height:18px;
}
#u8861_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:324px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:310px;
  width:0px;
  height:0px;
}
#u8862_seg0 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:-4px;
  width:239px;
  height:8px;
}
#u8862_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:-4px;
  width:8px;
  height:94px;
}
#u8862_seg2 {
  border-width:0px;
  position:absolute;
  left:-244px;
  top:78px;
  width:18px;
  height:18px;
}
#u8862_text {
  border-width:0px;
  position:absolute;
  left:-212px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:52px;
  width:140px;
  height:40px;
}
#u8863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:1321px;
  top:1194px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:1333px;
  top:1218px;
  width:183px;
  height:33px;
}
#u8865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u8866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:1730px;
  width:130px;
  height:40px;
}
#u8866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:1600px;
  top:1570px;
  width:130px;
  height:40px;
}
#u8867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:1570px;
  width:130px;
  height:40px;
}
#u8868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1610px;
  width:0px;
  height:0px;
}
#u8869_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:124px;
}
#u8869_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:108px;
  width:18px;
  height:18px;
}
#u8869_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1133px;
  width:0px;
  height:0px;
}
#u8870_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u8870_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:41px;
  width:22px;
  height:22px;
}
#u8870_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:246px;
  width:0px;
  height:0px;
}
#u8871_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u8871_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u8871_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:1345px;
  top:380px;
  width:130px;
  height:60px;
}
#u8872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:330px;
  width:0px;
  height:0px;
}
#u8873_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8873_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u8873_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u8874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:1590px;
  top:390px;
  width:130px;
  height:40px;
}
#u8874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:1475px;
  top:410px;
  width:0px;
  height:0px;
}
#u8875_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u8875_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8875_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:440px;
  width:0px;
  height:0px;
}
#u8876_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u8876_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:18px;
}
#u8876_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:1496px;
  width:0px;
  height:0px;
}
#u8877_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u8877_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:62px;
  width:18px;
  height:18px;
}
#u8877_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:560px;
  width:130px;
  height:40px;
}
#u8878_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:580px;
  width:0px;
  height:0px;
}
#u8879_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-4px;
  width:79px;
  height:8px;
}
#u8879_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8879_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1723px;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:1956px;
  top:76px;
  width:1px;
  height:1722px;
}
#u8880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:380px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:1018px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:2027px;
  top:1544px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:1409px;
  width:0px;
  height:0px;
}
#u8884_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:165px;
}
#u8884_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:149px;
  width:18px;
  height:18px;
}
#u8884_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:1665px;
  top:1610px;
  width:0px;
  height:0px;
}
#u8885_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u8885_seg1 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:136px;
  width:194px;
  height:8px;
}
#u8885_seg2 {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:131px;
  width:18px;
  height:18px;
}
#u8885_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
