body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:860px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1860px;
  width:970px;
  height:860px;
}
#u8173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:1640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:100px;
  width:940px;
  height:1640px;
}
#u8174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:290px;
  width:140px;
  height:40px;
}
#u8175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:390px;
  width:140px;
  height:40px;
}
#u8176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:330px;
  width:0px;
  height:0px;
}
#u8177_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u8177_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:46px;
  width:22px;
  height:22px;
}
#u8177_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:790px;
  width:140px;
  height:60px;
}
#u8178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u8179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:890px;
  width:140px;
  height:40px;
}
#u8179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:890px;
  width:313px;
  height:110px;
}
#u8180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:899px;
  width:169px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u8182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:921px;
  width:276px;
  height:23px;
}
#u8182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u8183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:949px;
  width:141px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:970px;
  width:276px;
  height:33px;
}
#u8184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:820px;
  width:0px;
  height:0px;
}
#u8185_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u8185_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:8px;
  height:74px;
}
#u8185_seg2 {
  border-width:0px;
  position:absolute;
  left:-261px;
  top:56px;
  width:22px;
  height:22px;
}
#u8185_text {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:850px;
  width:0px;
  height:0px;
}
#u8186_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8186_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u8186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u8187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1030px;
  width:313px;
  height:60px;
}
#u8187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1056px;
  width:220px;
  height:27px;
}
#u8188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u8189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1033px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:930px;
  width:0px;
  height:0px;
}
#u8190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u8190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:126px;
  width:168px;
  height:8px;
}
#u8190_seg2 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:119px;
  width:22px;
  height:22px;
}
#u8190_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:1000px;
  width:0px;
  height:0px;
}
#u8191_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u8191_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:16px;
  width:22px;
  height:22px;
}
#u8191_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1083px;
  width:0px;
  height:0px;
}
#u8192_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u8192_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:33px;
  width:22px;
  height:22px;
}
#u8192_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1130px;
  width:145px;
  height:50px;
}
#u8193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u8194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1234px;
  width:145px;
  height:50px;
}
#u8194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u8195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1338px;
  width:140px;
  height:60px;
}
#u8195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1284px;
  width:0px;
  height:0px;
}
#u8196_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u8196_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u8196_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1343px;
  width:145px;
  height:50px;
}
#u8197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1368px;
  width:0px;
  height:0px;
}
#u8198_seg0 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-4px;
  width:184px;
  height:8px;
}
#u8198_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-11px;
  width:22px;
  height:22px;
}
#u8198_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1444px;
  width:145px;
  height:50px;
}
#u8199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1398px;
  width:0px;
  height:0px;
}
#u8200_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8200_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:32px;
  width:22px;
  height:22px;
}
#u8200_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u8201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1551px;
  width:145px;
  height:50px;
}
#u8201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1393px;
  width:0px;
  height:0px;
}
#u8202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:187px;
}
#u8202_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:179px;
  width:253px;
  height:8px;
}
#u8202_seg2 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:22px;
  height:22px;
}
#u8202_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:175px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1494px;
  width:0px;
  height:0px;
}
#u8203_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u8203_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:22px;
  height:22px;
}
#u8203_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:1250px;
  width:1px;
  height:17px;
}
#u8204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u8205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:80px;
  width:140px;
  height:40px;
}
#u8205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:630px;
  width:140px;
  height:60px;
}
#u8206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u8207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8207 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:635px;
  width:140px;
  height:50px;
}
#u8207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u8208 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:660px;
  width:0px;
  height:0px;
}
#u8208_seg0 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u8208_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-11px;
  width:22px;
  height:22px;
}
#u8208_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8209 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:498px;
  width:140px;
  height:40px;
}
#u8209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8210 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:430px;
  width:0px;
  height:0px;
}
#u8210_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u8210_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:54px;
  width:22px;
  height:22px;
}
#u8210_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u8211 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:538px;
  width:0px;
  height:0px;
}
#u8211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u8211_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:78px;
  width:22px;
  height:22px;
}
#u8211_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u8212 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:690px;
  width:0px;
  height:0px;
}
#u8212_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u8212_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:86px;
  width:22px;
  height:22px;
}
#u8212_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1180px;
  width:0px;
  height:0px;
}
#u8213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u8213_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u8213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:3610px;
  top:2530px;
  width:0px;
  height:0px;
}
#u8214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u8214_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:8px;
  height:14px;
}
#u8214_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-16px;
  width:18px;
  height:18px;
}
#u8214_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1650px;
  width:145px;
  height:50px;
}
#u8215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1601px;
  width:0px;
  height:0px;
}
#u8216_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u8216_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:35px;
  width:22px;
  height:22px;
}
#u8216_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:518px;
  width:0px;
  height:0px;
}
#u8217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:164px;
  height:8px;
}
#u8217_seg1 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:-4px;
  width:8px;
  height:310px;
}
#u8217_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:164px;
  height:8px;
}
#u8217_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:292px;
  width:20px;
  height:20px;
}
#u8217_text {
  border-width:0px;
  position:absolute;
  left:110px;
  top:144px;
  width:100px;
  word-wrap:break-word;
}
#u8218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1900px;
  width:140px;
  height:40px;
}
#u8218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1990px;
  width:140px;
  height:40px;
}
#u8219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:1940px;
  width:0px;
  height:0px;
}
#u8220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8220_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u8220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2194px;
  width:140px;
  height:60px;
}
#u8221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u8222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2320px;
  width:140px;
  height:40px;
}
#u8222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2254px;
  width:0px;
  height:0px;
}
#u8223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u8223_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u8223_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u8224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2309px;
  width:140px;
  height:40px;
}
#u8224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2224px;
  width:0px;
  height:0px;
}
#u8225_seg0 {
  border-width:0px;
  position:absolute;
  left:-217px;
  top:-4px;
  width:217px;
  height:8px;
}
#u8225_seg1 {
  border-width:0px;
  position:absolute;
  left:-217px;
  top:-4px;
  width:8px;
  height:89px;
}
#u8225_seg2 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:72px;
  width:20px;
  height:20px;
}
#u8225_text {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:2210px;
  width:140px;
  height:40px;
}
#u8226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2010px;
  width:0px;
  height:0px;
}
#u8227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:294px;
  height:8px;
}
#u8227_seg1 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-4px;
  width:8px;
  height:204px;
}
#u8227_seg2 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:187px;
  width:20px;
  height:20px;
}
#u8227_text {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:70px;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:2406px;
  width:154px;
  height:70px;
}
#u8228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  word-wrap:break-word;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2360px;
  width:0px;
  height:0px;
}
#u8229_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8229_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u8229_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:70px;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:2406px;
  width:154px;
  height:70px;
}
#u8230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:150px;
  word-wrap:break-word;
}
#u8231 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:2349px;
  width:0px;
  height:0px;
}
#u8231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u8231_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u8231_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:2500px;
  width:140px;
  height:40px;
}
#u8232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:2441px;
  width:0px;
  height:0px;
}
#u8233_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u8233_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-4px;
  width:8px;
  height:63px;
}
#u8233_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:46px;
  width:20px;
  height:20px;
}
#u8233_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:2441px;
  width:0px;
  height:0px;
}
#u8234_seg0 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-4px;
  width:60px;
  height:8px;
}
#u8234_seg1 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:-4px;
  width:8px;
  height:63px;
}
#u8234_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:46px;
  width:20px;
  height:20px;
}
#u8234_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2550px;
  width:140px;
  height:40px;
}
#u8235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:2476px;
  width:0px;
  height:0px;
}
#u8236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u8236_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u8236_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u8237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2550px;
  width:140px;
  height:40px;
}
#u8237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8238 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2476px;
  width:0px;
  height:0px;
}
#u8238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u8238_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u8238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u8239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2640px;
  width:140px;
  height:40px;
}
#u8239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8240 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:2590px;
  width:0px;
  height:0px;
}
#u8240_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u8240_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:66px;
  width:217px;
  height:8px;
}
#u8240_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:20px;
  height:20px;
}
#u8240_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2590px;
  width:0px;
  height:0px;
}
#u8241_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8241_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u8241_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:2250px;
  width:0px;
  height:0px;
}
#u8242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:195px;
}
#u8242_seg1 {
  border-width:0px;
  position:absolute;
  left:-283px;
  top:187px;
  width:287px;
  height:8px;
}
#u8242_seg2 {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:181px;
  width:20px;
  height:20px;
}
#u8242_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:183px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1840px;
  width:140px;
  height:40px;
}
#u8243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8244 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:2406px;
  width:15px;
  height:17px;
}
#u8244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8245 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:2406px;
  width:15px;
  height:17px;
}
#u8245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8246 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:2432px;
  width:15px;
  height:17px;
}
#u8246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8247 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:2432px;
  width:15px;
  height:17px;
}
#u8247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u8248 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:2080px;
  width:140px;
  height:60px;
}
#u8248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u8249 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2030px;
  width:0px;
  height:0px;
}
#u8249_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8249_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u8249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8250 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:2140px;
  width:0px;
  height:0px;
}
#u8250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u8250_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u8250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u8251 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:2110px;
  width:0px;
  height:0px;
}
#u8251_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u8251_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:238px;
}
#u8251_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:226px;
  width:94px;
  height:8px;
}
#u8251_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:220px;
  width:20px;
  height:20px;
}
#u8251_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:108px;
  width:100px;
  word-wrap:break-word;
}
