body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3623px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1420px;
  height:1600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9398 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:120px;
  width:1420px;
  height:1600px;
}
#u9398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9399 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:190px;
  width:140px;
  height:40px;
}
#u9399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9400 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:290px;
  width:140px;
  height:40px;
}
#u9400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9401 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:230px;
  width:0px;
  height:0px;
}
#u9401_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u9401_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:46px;
  width:22px;
  height:22px;
}
#u9401_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9402 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:560px;
  width:130px;
  height:40px;
}
#u9402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u9403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9403 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:370px;
  width:140px;
  height:60px;
}
#u9403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u9404 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:330px;
  width:0px;
  height:0px;
}
#u9404_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9404_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u9404_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9405 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:380px;
  width:140px;
  height:40px;
}
#u9405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u9406 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:400px;
  width:0px;
  height:0px;
}
#u9406_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:414px;
  height:8px;
}
#u9406_seg1 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9406_text {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u9407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9407 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:790px;
  width:140px;
  height:60px;
}
#u9407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u9408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9408 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:890px;
  width:140px;
  height:40px;
}
#u9408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9409 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:890px;
  width:313px;
  height:110px;
}
#u9409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9410 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:899px;
  width:169px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u9411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9411 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:921px;
  width:276px;
  height:23px;
}
#u9411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u9412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9412 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:949px;
  width:141px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9413 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:970px;
  width:276px;
  height:33px;
}
#u9413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u9414 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:820px;
  width:0px;
  height:0px;
}
#u9414_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u9414_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:8px;
  height:74px;
}
#u9414_seg2 {
  border-width:0px;
  position:absolute;
  left:-261px;
  top:56px;
  width:22px;
  height:22px;
}
#u9414_text {
  border-width:0px;
  position:absolute;
  left:-210px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9415 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:850px;
  width:0px;
  height:0px;
}
#u9415_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u9415_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:22px;
  height:22px;
}
#u9415_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u9416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9416 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1030px;
  width:313px;
  height:60px;
}
#u9416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9417 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1056px;
  width:220px;
  height:27px;
}
#u9417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u9418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9418 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:1033px;
  width:127px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u9419 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:930px;
  width:0px;
  height:0px;
}
#u9419_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u9419_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:126px;
  width:168px;
  height:8px;
}
#u9419_seg2 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:119px;
  width:22px;
  height:22px;
}
#u9419_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9420 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:1000px;
  width:0px;
  height:0px;
}
#u9420_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u9420_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:16px;
  width:22px;
  height:22px;
}
#u9420_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9421 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:1083px;
  width:0px;
  height:0px;
}
#u9421_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9421_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:33px;
  width:22px;
  height:22px;
}
#u9421_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9422 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1130px;
  width:145px;
  height:50px;
}
#u9422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9423 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1234px;
  width:145px;
  height:50px;
}
#u9423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9424 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1338px;
  width:140px;
  height:60px;
}
#u9424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  word-wrap:break-word;
}
#u9425 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1284px;
  width:0px;
  height:0px;
}
#u9425_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u9425_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u9425_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9426 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1343px;
  width:145px;
  height:50px;
}
#u9426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9427 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:1368px;
  width:0px;
  height:0px;
}
#u9427_seg0 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-4px;
  width:184px;
  height:8px;
}
#u9427_seg1 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9427_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9428 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1444px;
  width:145px;
  height:50px;
}
#u9428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9429 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1398px;
  width:0px;
  height:0px;
}
#u9429_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u9429_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:32px;
  width:22px;
  height:22px;
}
#u9429_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u9430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9430 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1551px;
  width:145px;
  height:50px;
}
#u9430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u9431 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:1393px;
  width:0px;
  height:0px;
}
#u9431_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:187px;
}
#u9431_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:179px;
  width:253px;
  height:8px;
}
#u9431_seg2 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:22px;
  height:22px;
}
#u9431_text {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:175px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9432 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1494px;
  width:0px;
  height:0px;
}
#u9432_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u9432_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:43px;
  width:22px;
  height:22px;
}
#u9432_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9433 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:1250px;
  width:1px;
  height:17px;
}
#u9433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u9434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9434 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:95px;
  width:140px;
  height:40px;
}
#u9434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9435 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:630px;
  width:140px;
  height:60px;
}
#u9435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u9436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9436 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:635px;
  width:140px;
  height:50px;
}
#u9436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u9437 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:660px;
  width:0px;
  height:0px;
}
#u9437_seg0 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u9437_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9437_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9438 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:498px;
  width:140px;
  height:40px;
}
#u9438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9439 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:430px;
  width:0px;
  height:0px;
}
#u9439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u9439_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:54px;
  width:22px;
  height:22px;
}
#u9439_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u9440 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:538px;
  width:0px;
  height:0px;
}
#u9440_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u9440_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:78px;
  width:22px;
  height:22px;
}
#u9440_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u9441 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:690px;
  width:0px;
  height:0px;
}
#u9441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u9441_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:86px;
  width:22px;
  height:22px;
}
#u9441_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u9442 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1180px;
  width:0px;
  height:0px;
}
#u9442_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u9442_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u9442_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9443 {
  border-width:0px;
  position:absolute;
  left:3610px;
  top:2530px;
  width:0px;
  height:0px;
}
#u9443_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u9443_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-10px;
  width:8px;
  height:14px;
}
#u9443_seg2 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-16px;
  width:18px;
  height:18px;
}
#u9443_text {
  border-width:0px;
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9444 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:420px;
  width:0px;
  height:0px;
}
#u9444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u9444_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:44px;
  width:22px;
  height:22px;
}
#u9444_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9445 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:478px;
  width:140px;
  height:60px;
}
#u9445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u9446 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:508px;
  width:0px;
  height:0px;
}
#u9446_seg0 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:-4px;
  width:169px;
  height:8px;
}
#u9446_seg1 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:-4px;
  width:8px;
  height:56px;
}
#u9446_seg2 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:38px;
  width:22px;
  height:22px;
}
#u9446_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9447 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:670px;
  width:140px;
  height:60px;
}
#u9447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u9448 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:538px;
  width:0px;
  height:0px;
}
#u9448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:136px;
}
#u9448_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:118px;
  width:22px;
  height:22px;
}
#u9448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u9449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9449 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:820px;
  width:286px;
  height:105px;
}
#u9449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9450 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:833px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9451 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:860px;
  width:260px;
  height:20px;
}
#u9451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u9452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9452 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:885px;
  width:113px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9453 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:905px;
  width:260px;
  height:20px;
}
#u9453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u9454 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:700px;
  width:0px;
  height:0px;
}
#u9454_seg0 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:37px;
  height:8px;
}
#u9454_seg1 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:-4px;
  width:8px;
  height:124px;
}
#u9454_seg2 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:106px;
  width:22px;
  height:22px;
}
#u9454_text {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u9455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9455 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:820px;
  width:286px;
  height:105px;
}
#u9455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9456 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:833px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u9456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u9457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9457 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:860px;
  width:260px;
  height:20px;
}
#u9457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u9458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9458 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:890px;
  width:260px;
  height:20px;
}
#u9458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u9459 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:700px;
  width:0px;
  height:0px;
}
#u9459_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:137px;
  height:8px;
}
#u9459_seg1 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-4px;
  width:8px;
  height:124px;
}
#u9459_seg2 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:106px;
  width:22px;
  height:22px;
}
#u9459_text {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9460 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:1012px;
  width:313px;
  height:60px;
}
#u9460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9461 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:925px;
  width:0px;
  height:0px;
}
#u9461_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u9461_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:73px;
  width:22px;
  height:22px;
}
#u9461_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9462 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:925px;
  width:0px;
  height:0px;
}
#u9462_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u9462_seg1 {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:113px;
  width:154px;
  height:8px;
}
#u9462_seg2 {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:106px;
  width:22px;
  height:22px;
}
#u9462_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:109px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9463 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:1034px;
  width:239px;
  height:17px;
}
#u9463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u9464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
}
#u9464 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1120px;
  width:140px;
  height:60px;
}
#u9464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u9465 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:1072px;
  width:0px;
  height:0px;
}
#u9465_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u9465_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:34px;
  width:22px;
  height:22px;
}
#u9465_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9466 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:1234px;
  width:145px;
  height:50px;
}
#u9466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9467 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:1150px;
  width:0px;
  height:0px;
}
#u9467_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:140px;
  height:8px;
}
#u9467_seg1 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-4px;
  width:8px;
  height:88px;
}
#u9467_seg2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:70px;
  width:22px;
  height:22px;
}
#u9467_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u9468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9468 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:1234px;
  width:145px;
  height:50px;
}
#u9468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:141px;
  word-wrap:break-word;
}
#u9469 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:1180px;
  width:0px;
  height:0px;
}
#u9469_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u9469_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:40px;
  width:22px;
  height:22px;
}
#u9469_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u9470 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:1284px;
  width:0px;
  height:0px;
}
#u9470_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u9470_seg1 {
  border-width:0px;
  position:absolute;
  left:-372px;
  top:80px;
  width:376px;
  height:8px;
}
#u9470_seg2 {
  border-width:0px;
  position:absolute;
  left:-380px;
  top:73px;
  width:22px;
  height:22px;
}
#u9470_text {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9471 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:1650px;
  width:145px;
  height:50px;
}
#u9471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:141px;
  word-wrap:break-word;
}
#u9472 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1601px;
  width:0px;
  height:0px;
}
#u9472_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u9472_seg1 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:35px;
  width:22px;
  height:22px;
}
#u9472_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:1189px;
}
#u9473 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1891px;
  width:1246px;
  height:1189px;
}
#u9473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9474 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:518px;
  width:0px;
  height:0px;
}
#u9474_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u9474_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:310px;
}
#u9474_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:298px;
  width:64px;
  height:8px;
}
#u9474_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:292px;
  width:20px;
  height:20px;
}
#u9474_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:144px;
  width:100px;
  word-wrap:break-word;
}
