body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:779px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:990px;
  width:1375px;
  height:779px;
}
#u8886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:416px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:574px;
  width:1375px;
  height:416px;
}
#u8887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:554px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:20px;
  width:1375px;
  height:554px;
}
#u8888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:37px;
  width:130px;
  height:40px;
}
#u8889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:117px;
  width:130px;
  height:40px;
}
#u8890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:190px;
  width:130px;
  height:60px;
}
#u8891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:77px;
  width:0px;
  height:0px;
}
#u8892_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8892_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u8892_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:157px;
  width:0px;
  height:0px;
}
#u8893_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u8893_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u8893_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:200px;
  width:130px;
  height:40px;
}
#u8894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:220px;
  width:0px;
  height:0px;
}
#u8895_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u8895_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8895_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:300px;
  width:130px;
  height:60px;
}
#u8896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:250px;
  width:0px;
  height:0px;
}
#u8897_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u8897_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:38px;
  width:18px;
  height:18px;
}
#u8897_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:310px;
  width:130px;
  height:40px;
}
#u8898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:330px;
  width:0px;
  height:0px;
}
#u8899_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u8899_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8899_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:400px;
  width:130px;
  height:40px;
}
#u8900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:360px;
  width:0px;
  height:0px;
}
#u8901_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8901_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u8901_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u8902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:483px;
  width:221px;
  height:75px;
}
#u8902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:488px;
  width:99px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:509px;
  width:187px;
  height:20px;
}
#u8904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u8905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:531px;
  width:207px;
  height:17px;
}
#u8905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:440px;
  width:0px;
  height:0px;
}
#u8906_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u8906_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u8906_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:603px;
  width:153px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:149px;
  word-wrap:break-word;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:558px;
  width:0px;
  height:0px;
}
#u8908_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u8908_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:18px;
}
#u8908_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:707px;
  width:226px;
  height:90px;
}
#u8909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:710px;
  width:176px;
  height:89px;
}
#u8910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:673px;
  width:0px;
  height:0px;
}
#u8911_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u8911_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u8911_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:836px;
  width:130px;
  height:60px;
}
#u8912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:799px;
  width:0px;
  height:0px;
}
#u8913_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u8913_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u8913_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:846px;
  width:130px;
  height:40px;
}
#u8914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:866px;
  width:0px;
  height:0px;
}
#u8915_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u8915_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:930px;
  width:130px;
  height:40px;
}
#u8916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:896px;
  width:0px;
  height:0px;
}
#u8917_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u8917_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u8917_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1010px;
  width:130px;
  height:40px;
}
#u8918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:970px;
  width:0px;
  height:0px;
}
#u8919_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8919_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u8919_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1110px;
  width:130px;
  height:60px;
}
#u8920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u8921 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1050px;
  width:0px;
  height:0px;
}
#u8921_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u8921_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:18px;
}
#u8921_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u8922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1250px;
  width:130px;
  height:40px;
}
#u8922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1360px;
  width:130px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1320px;
  width:0px;
  height:0px;
}
#u8924_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8924_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u8924_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u8925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:55px;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1430px;
  width:130px;
  height:55px;
}
#u8925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1400px;
  width:0px;
  height:0px;
}
#u8926_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u8926_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:18px;
}
#u8926_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1120px;
  width:130px;
  height:39px;
  font-size:12px;
}
#u8927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:1263px;
  width:1px;
  height:15px;
  font-size:12px;
}
#u8928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u8929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1431px;
  width:145px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u8929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:141px;
  word-wrap:break-word;
}
#u8930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:1444px;
  width:1px;
  height:15px;
  font-size:12px;
}
#u8930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u8931 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1458px;
  width:0px;
  height:0px;
}
#u8931_seg0 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:-4px;
  width:76px;
  height:8px;
}
#u8931_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8931_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8932 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:1523px;
  width:145px;
  height:53px;
  font-size:12px;
}
#u8932_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:141px;
  word-wrap:break-word;
}
#u8933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8933 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1533px;
  width:1px;
  height:30px;
  font-size:12px;
}
#u8933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1485px;
  width:0px;
  height:0px;
}
#u8934_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u8934_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:18px;
}
#u8934_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u8935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1620px;
  width:130px;
  height:40px;
}
#u8935_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1484px;
  width:0px;
  height:0px;
}
#u8936_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:160px;
}
#u8936_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:152px;
  width:148px;
  height:8px;
}
#u8936_seg2 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:147px;
  width:18px;
  height:18px;
}
#u8936_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1576px;
  width:0px;
  height:0px;
}
#u8937_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u8937_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u8937_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1700px;
  width:130px;
  height:40px;
}
#u8938_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1660px;
  width:0px;
  height:0px;
}
#u8939_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u8939_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u8939_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1750px;
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:22px;
  width:1px;
  height:1749px;
}
#u8940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:250px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:749px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:1348px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:5px;
  width:140px;
  height:40px;
}
#u8944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1010px;
  width:130px;
  height:40px;
}
#u8945_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1030px;
  width:0px;
  height:0px;
}
#u8946_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:194px;
  height:8px;
}
#u8946_seg1 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8946_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:55px;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1360px;
  width:130px;
  height:55px;
}
#u8947_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1050px;
  width:0px;
  height:0px;
}
#u8948_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:314px;
}
#u8948_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:298px;
  width:18px;
  height:18px;
}
#u8948_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:147px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:1500px;
  width:145px;
  height:53px;
}
#u8949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1415px;
  width:0px;
  height:0px;
}
#u8950_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u8950_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:73px;
  width:18px;
  height:18px;
}
#u8950_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u8951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1500px;
  width:145px;
  height:53px;
}
#u8951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:1388px;
  width:0px;
  height:0px;
}
#u8952_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u8952_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-4px;
  width:8px;
  height:116px;
}
#u8952_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:100px;
  width:18px;
  height:18px;
}
#u8952_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:1553px;
  width:0px;
  height:0px;
}
#u8953_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u8953_seg1 {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:83px;
  width:259px;
  height:8px;
}
#u8953_seg2 {
  border-width:0px;
  position:absolute;
  left:-261px;
  top:78px;
  width:18px;
  height:18px;
}
#u8953_text {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:1553px;
  width:0px;
  height:0px;
}
#u8954_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u8954_seg1 {
  border-width:0px;
  position:absolute;
  left:-433px;
  top:83px;
  width:437px;
  height:8px;
}
#u8954_seg2 {
  border-width:0px;
  position:absolute;
  left:-439px;
  top:78px;
  width:18px;
  height:18px;
}
#u8954_text {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1170px;
  width:0px;
  height:0px;
}
#u8955_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u8955_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:68px;
  width:18px;
  height:18px;
}
#u8955_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1290px;
  width:0px;
  height:0px;
}
#u8956_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u8956_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:18px;
}
#u8956_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1213px;
  width:130px;
  height:40px;
}
#u8957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1159px;
  width:0px;
  height:0px;
}
#u8958_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u8958_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:18px;
}
#u8958_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u8959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8959 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1213px;
  width:130px;
  height:40px;
}
#u8959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8960 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1140px;
  width:0px;
  height:0px;
}
#u8960_seg0 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-4px;
  width:132px;
  height:8px;
}
#u8960_seg1 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-4px;
  width:8px;
  height:77px;
}
#u8960_seg2 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:61px;
  width:18px;
  height:18px;
}
#u8960_text {
  border-width:0px;
  position:absolute;
  left:-150px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1140px;
  width:0px;
  height:0px;
}
#u8961_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:91px;
  height:8px;
}
#u8961_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8961_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u8962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8962 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1360px;
  width:130px;
  height:40px;
}
#u8962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:1253px;
  width:0px;
  height:0px;
}
#u8963_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u8963_seg1 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:123px;
  width:132px;
  height:8px;
}
#u8963_seg2 {
  border-width:0px;
  position:absolute;
  left:-134px;
  top:118px;
  width:18px;
  height:18px;
}
#u8963_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:119px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1253px;
  width:0px;
  height:0px;
}
#u8964_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u8964_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:95px;
  width:18px;
  height:18px;
}
#u8964_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1400px;
  width:0px;
  height:0px;
}
#u8965_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:324px;
}
#u8965_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:316px;
  width:349px;
  height:8px;
}
#u8965_seg2 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:311px;
  width:18px;
  height:18px;
}
#u8965_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:312px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
