body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:207px;
  width:1544px;
  height:152px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:178px;
  height:52px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:145px;
  height:52px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:0px;
  width:134px;
  height:52px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:134px;
  height:52px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:0px;
  width:134px;
  height:52px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:0px;
  width:111px;
  height:52px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:0px;
  width:139px;
  height:52px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:135px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:0px;
  width:140px;
  height:52px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:0px;
  width:175px;
  height:52px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:171px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:0px;
  width:186px;
  height:52px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:68px;
  height:52px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:52px;
  width:178px;
  height:52px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:145px;
  height:52px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:52px;
  width:134px;
  height:52px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:52px;
  width:134px;
  height:52px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:52px;
  width:134px;
  height:52px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:52px;
  width:111px;
  height:52px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:52px;
  width:139px;
  height:52px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:52px;
  width:140px;
  height:52px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:52px;
  width:175px;
  height:52px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:52px;
  width:186px;
  height:52px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:48px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:68px;
  height:48px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:48px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:104px;
  width:178px;
  height:48px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:104px;
  width:145px;
  height:48px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:104px;
  width:134px;
  height:48px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:104px;
  width:134px;
  height:48px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:104px;
  width:134px;
  height:48px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:104px;
  width:111px;
  height:48px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:48px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:104px;
  width:139px;
  height:48px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:104px;
  width:140px;
  height:48px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:48px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:104px;
  width:175px;
  height:48px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:48px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:104px;
  width:186px;
  height:48px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:75px;
  width:1544px;
  height:116px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:107px;
  width:18px;
  height:1px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:147px;
  width:68px;
  height:28px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:97px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:97px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u47_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:143px;
  width:176px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:143px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:147px;
  width:108px;
  height:28px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u51_input:disabled {
  color:grayText;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:273px;
  width:58px;
  height:20px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:143px;
  width:108px;
  height:28px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u54_input:disabled {
  color:grayText;
}
