.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.button {
}
.link_button {
  color:#169BD5;
}
._形状 {
}
._图片_ {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
.line {
}
._流程形状 {
}
._连接线 {
  font-size:12px;
  color:#000000;
}
.flow_shape {
}
.table_cell {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.primary_button {
  color:#FFFFFF;
}
._复选框 {
  text-align:left;
}
.icon {
}
.radio_button {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.shape {
}
.paragraph {
  text-align:left;
}
._图片 {
}
.image {
  color:#000000;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_11 {
}
.box_21 {
}
.line1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.horizontal_line {
}
.checkbox {
  text-align:left;
}
.vertical_line {
}
.box_31 {
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.ellipse1 {
}
._文本段落1 {
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._形状1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._水平线 {
}
._表格 {
}
._单元格 {
}
.table_cell1 {
}
.droplist1 {
  color:#000000;
  text-align:left;
}
.icon1 {
}
