
#u5024 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:90px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:92px;
  width:9px;
  height:9px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:34px;
  background:inherit;
  background-color:rgba(237, 248, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 208, 104, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:80px;
  width:464px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5027_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:408px;
  word-wrap:break-word;
}
#u5028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5028 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:90px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:92px;
  width:9px;
  height:9px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:34px;
  background:inherit;
  background-color:rgba(237, 248, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 208, 104, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:80px;
  width:464px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5031_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:8px;
  width:408px;
  word-wrap:break-word;
}
#u5032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:90px;
  width:14px;
  height:14px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:92px;
  width:9px;
  height:9px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u5033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
