body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:336px;
  width:1680px;
  height:134px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:36px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:143px;
  height:36px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:168px;
  height:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:195px;
  height:36px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:0px;
  width:151px;
  height:36px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:97px;
  height:36px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:150px;
  height:36px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:0px;
  width:170px;
  height:36px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:0px;
  width:90px;
  height:36px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:0px;
  width:68px;
  height:36px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:0px;
  width:88px;
  height:36px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:0px;
  width:180px;
  height:36px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:176px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:0px;
  width:133px;
  height:36px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:68px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:47px;
  height:68px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:43px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:68px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:36px;
  width:143px;
  height:68px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:139px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:68px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:36px;
  width:168px;
  height:68px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:164px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:68px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:36px;
  width:195px;
  height:68px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:191px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:68px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:36px;
  width:151px;
  height:68px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:68px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:36px;
  width:97px;
  height:68px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:93px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:68px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:36px;
  width:150px;
  height:68px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:68px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:36px;
  width:170px;
  height:68px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:166px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:68px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:36px;
  width:90px;
  height:68px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:86px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:36px;
  width:68px;
  height:68px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:68px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:36px;
  width:88px;
  height:68px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:84px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:68px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:36px;
  width:180px;
  height:68px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:68px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:36px;
  width:133px;
  height:68px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:47px;
  height:30px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:104px;
  width:143px;
  height:30px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:104px;
  width:168px;
  height:30px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:104px;
  width:195px;
  height:30px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:104px;
  width:151px;
  height:30px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:104px;
  width:97px;
  height:30px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:104px;
  width:150px;
  height:30px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:104px;
  width:170px;
  height:30px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:104px;
  width:90px;
  height:30px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:104px;
  width:68px;
  height:30px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:104px;
  width:88px;
  height:30px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:104px;
  width:180px;
  height:30px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:104px;
  width:133px;
  height:30px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1830px;
  top:395px;
  width:37px;
  height:15px;
  color:#0066CC;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1680px;
  height:380px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:470px;
  width:1680px;
  height:380px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:340px;
  top:70px;
  visibility:hidden;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1170px;
  height:729px;
  background-image:none;
}
#u43_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:729px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:729px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:135px;
  width:177px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:670px;
  width:110px;
  height:40px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:526px;
  width:1152px;
  height:138px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:168px;
  height:30px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:157px;
  height:30px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:164px;
  height:30px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:0px;
  width:167px;
  height:30px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:163px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:0px;
  width:163px;
  height:30px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:0px;
  width:145px;
  height:30px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:0px;
  width:133px;
  height:30px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:36px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:168px;
  height:36px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:30px;
  width:157px;
  height:36px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:30px;
  width:164px;
  height:36px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:30px;
  width:167px;
  height:36px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:30px;
  width:163px;
  height:36px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:30px;
  width:145px;
  height:36px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:30px;
  width:133px;
  height:36px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:55px;
  height:36px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:66px;
  width:168px;
  height:36px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:66px;
  width:157px;
  height:36px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:66px;
  width:164px;
  height:36px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:66px;
  width:167px;
  height:36px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:66px;
  width:163px;
  height:36px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:66px;
  width:145px;
  height:36px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:66px;
  width:133px;
  height:36px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:55px;
  height:36px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:102px;
  width:168px;
  height:36px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:102px;
  width:157px;
  height:36px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:102px;
  width:164px;
  height:36px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:36px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:102px;
  width:167px;
  height:36px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:163px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:36px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:102px;
  width:163px;
  height:36px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:102px;
  width:145px;
  height:36px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:36px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:102px;
  width:133px;
  height:36px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:499px;
  width:99px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
