body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u4487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:42px;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:318px;
  width:1115px;
  height:42px;
}
#u4488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:329px;
  width:72px;
  height:20px;
  color:#1E1E1E;
}
#u4489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u4490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:329px;
  width:85px;
  height:20px;
  color:#1E1E1E;
}
#u4490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u4491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:329px;
  width:85px;
  height:20px;
  color:#1E1E1E;
}
#u4491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u4492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:329px;
  width:98px;
  height:20px;
  color:#1E1E1E;
}
#u4492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u4493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:329px;
  width:58px;
  height:20px;
  color:#1E1E1E;
}
#u4493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u4494 {
  position:absolute;
  left:528px;
  top:150px;
}
#u4494_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
  background-image:none;
}
#u4494_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
}
#u4495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:164px;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:356px;
  width:968px;
  height:164px;
}
#u4496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:520px;
  width:100px;
  height:30px;
}
#u4497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:379px;
  width:947px;
  height:120px;
}
#u4499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:177px;
  height:30px;
}
#u4500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u4501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:196px;
  height:30px;
}
#u4501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u4502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u4502 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:168px;
  height:30px;
}
#u4502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u4503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u4503 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:219px;
  height:30px;
}
#u4503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u4504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4504 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:127px;
  height:30px;
}
#u4504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u4505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u4506 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:177px;
  height:30px;
}
#u4506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u4507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u4507 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:30px;
  width:196px;
  height:30px;
}
#u4507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u4508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u4508 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:30px;
  width:168px;
  height:30px;
}
#u4508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u4509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u4509 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:30px;
  width:219px;
  height:30px;
}
#u4509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u4510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4510 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:127px;
  height:30px;
}
#u4510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u4511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u4512 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:177px;
  height:30px;
}
#u4512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u4513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u4513 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:60px;
  width:196px;
  height:30px;
}
#u4513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u4514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u4514 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:60px;
  width:168px;
  height:30px;
}
#u4514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u4515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u4515 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:60px;
  width:219px;
  height:30px;
}
#u4515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u4516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4516 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:60px;
  width:127px;
  height:30px;
}
#u4516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u4517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:30px;
}
#u4517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u4518 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:90px;
  width:177px;
  height:30px;
}
#u4518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u4519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u4519 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:90px;
  width:196px;
  height:30px;
}
#u4519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u4520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u4520 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:90px;
  width:168px;
  height:30px;
}
#u4520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u4521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u4521 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:90px;
  width:219px;
  height:30px;
}
#u4521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u4522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u4522 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:90px;
  width:127px;
  height:30px;
}
#u4522_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u4523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4523 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:358px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4524 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:392px;
  width:40px;
  height:458px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
