body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u5458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:923px;
}
#u5458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:42px;
}
#u5459 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:318px;
  width:1115px;
  height:42px;
}
#u5459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5460 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:329px;
  width:72px;
  height:20px;
  color:#1E1E1E;
}
#u5460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u5461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5461 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:329px;
  width:85px;
  height:20px;
  color:#1E1E1E;
}
#u5461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5462 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:329px;
  width:85px;
  height:20px;
  color:#1E1E1E;
}
#u5462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  white-space:nowrap;
}
#u5463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5463 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:329px;
  width:98px;
  height:20px;
  color:#1E1E1E;
}
#u5463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u5464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u5464 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:329px;
  width:58px;
  height:20px;
  color:#1E1E1E;
}
#u5464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u5465 {
  position:absolute;
  left:528px;
  top:150px;
}
#u5465_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
  background-image:none;
}
#u5465_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
}
#u5466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:564px;
}
#u5466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:164px;
}
#u5467 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:356px;
  width:968px;
  height:164px;
}
#u5467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5468 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:520px;
  width:100px;
  height:30px;
}
#u5468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5469 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:379px;
  width:947px;
  height:120px;
}
#u5470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u5471 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:177px;
  height:30px;
}
#u5471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u5472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5472 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:196px;
  height:30px;
}
#u5472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u5473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u5473 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:168px;
  height:30px;
}
#u5473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u5474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u5474 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:219px;
  height:30px;
}
#u5474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u5475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5475 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:127px;
  height:30px;
}
#u5475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u5476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u5477 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:177px;
  height:30px;
}
#u5477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u5478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5478 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:30px;
  width:196px;
  height:30px;
}
#u5478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u5479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u5479 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:30px;
  width:168px;
  height:30px;
}
#u5479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u5480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u5480 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:30px;
  width:219px;
  height:30px;
}
#u5480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u5481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5481 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:127px;
  height:30px;
}
#u5481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u5482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u5483 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:177px;
  height:30px;
}
#u5483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u5484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5484 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:60px;
  width:196px;
  height:30px;
}
#u5484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u5485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u5485 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:60px;
  width:168px;
  height:30px;
}
#u5485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u5486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u5486 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:60px;
  width:219px;
  height:30px;
}
#u5486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u5487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5487 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:60px;
  width:127px;
  height:30px;
}
#u5487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:30px;
}
#u5488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u5489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u5489 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:90px;
  width:177px;
  height:30px;
}
#u5489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:173px;
  word-wrap:break-word;
}
#u5490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
}
#u5490 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:90px;
  width:196px;
  height:30px;
}
#u5490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u5491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
}
#u5491 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:90px;
  width:168px;
  height:30px;
}
#u5491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u5492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u5492 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:90px;
  width:219px;
  height:30px;
}
#u5492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u5493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u5493 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:90px;
  width:127px;
  height:30px;
}
#u5493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u5494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5494 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:358px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5495 {
  border-width:0px;
  position:absolute;
  left:1850px;
  top:392px;
  width:40px;
  height:458px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
