body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:207px;
  width:1544px;
  height:152px;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:178px;
  height:52px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:145px;
  height:52px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:0px;
  width:134px;
  height:52px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:0px;
  width:134px;
  height:52px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:0px;
  width:134px;
  height:52px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:130px;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:0px;
  width:111px;
  height:52px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:0px;
  width:139px;
  height:52px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:135px;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:0px;
  width:140px;
  height:52px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:0px;
  width:175px;
  height:52px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:171px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:0px;
  width:186px;
  height:52px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:68px;
  height:52px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:52px;
  width:178px;
  height:52px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:52px;
  width:145px;
  height:52px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:52px;
  width:134px;
  height:52px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:52px;
  width:134px;
  height:52px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:52px;
  width:134px;
  height:52px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:130px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:52px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:52px;
  width:111px;
  height:52px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:52px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:52px;
  width:139px;
  height:52px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:52px;
  width:140px;
  height:52px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:52px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:52px;
  width:175px;
  height:52px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:52px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:52px;
  width:186px;
  height:52px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:48px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:68px;
  height:48px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:48px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:104px;
  width:178px;
  height:48px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:104px;
  width:145px;
  height:48px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:141px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:104px;
  width:134px;
  height:48px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:104px;
  width:134px;
  height:48px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:48px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:104px;
  width:134px;
  height:48px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:104px;
  width:111px;
  height:48px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:48px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:104px;
  width:139px;
  height:48px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:104px;
  width:140px;
  height:48px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:48px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:104px;
  width:175px;
  height:48px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:48px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:1358px;
  top:104px;
  width:186px;
  height:48px;
}
#u854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:116px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:75px;
  width:1544px;
  height:116px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:2px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:107px;
  width:18px;
  height:1px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:147px;
  width:68px;
  height:28px;
}
#u859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:97px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:97px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:97px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:93px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:143px;
  width:176px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:147px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
  text-align:left;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:143px;
  width:144px;
  height:28px;
  color:#949494;
  text-align:left;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:147px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:1214px;
  top:147px;
  width:108px;
  height:28px;
}
#u872_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u872_input:disabled {
  color:grayText;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:273px;
  width:58px;
  height:20px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:143px;
  width:108px;
  height:28px;
}
#u875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#949494;
}
#u875_input:disabled {
  color:grayText;
}
